body {font-family: 'Kanit', sans-serif !important;       
      background-color: #B9CEAC;
       background-color: #B9CEAC ;
	    background-image: url(../immagini/sfn.png) !important;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: 100% 100%;	
         
}

header {background: url(../immagini/logo.png) no-repeat-center;
	    font-size: 1.29em;
	   


	   }

h1, h2 {text-align: center}

h1 {background-color: #F4C430;

	color: black;
	font-size: 5em !important;

	padding-left: 0.5em !important; 
	padding-right: 0.5em !important;
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;

	margin-right: 0.90em !important;
	margin-left: 0.90em !important;
	margin-bottom: 0.50em !important;
	margin-top: 0.50em !important;

	border-radius: 1.2em !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	

}

h2 {margin-bottom: 1em !important;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em !important;
	font-size: 3em !important;
	font-weight: bold !important;
	color: white !important;
}

p { font-size: 1.50em !important;
	padding-left: 3.5em !important;
	padding-top: 0.75em !important;
	padding-right: 3.5em !important;
	padding-bottom: 1em !important;
	color: white !important;

}
.card-body {font-size: 0.70em !important;
	padding-left: 0em !important;
	padding-right: 0em !important;

}
.card-title {font-size: 3em !important;
	text-align: center;
	font-weight: bold;
}
.card {margin-left: 6em !important;
	margin-right: 4em !important;
	margin-top: 3em !important;
	border-radius: 2em !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	display: inline-block !important;
	margin-bottom: 3em !important;
	max-width: 20% !important;
	max-height: 30% !important;
	

}
.card-img-top {border-radius: 2em !important;
	padding-left: 1em !important;
	padding-top: 1em !important;
	padding-right: 1em !important;
	padding-bottom: 1em !important;
}
#button {text-align: center;
	position: center;
	margin-right: 30%;
	margin-left: 34%;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: red;		
}
#button1  {text-align: center;
	position: center;
	margin-right: 30%;
	margin-left: 42%;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: red;		
}
#button2 {text-align: center;
	position: center;
	margin-right: 30%;
	margin-left: 33%;
	margin-bottom: 20%;
	margin-top: 10%;
	background-color: red;		
}

#sp {
	max-width: 50%;  
    border-radius: 1.5em;
    display: block;
    margin: auto !important;
    margin-bottom: 2em !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;


}

#gta {
	max-width: 50%;  
    border-radius: 1.5em;
    display: block;
    margin: auto !important;
    margin-bottom: 2em !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#fn {
	max-width: 50%;  
    border-radius: 1.5em;
    display: block;
    margin: auto !important;
    margin-bottom: 2em !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#home {max-width: 50%;  
    border-radius: 1.5em;
    display: block;
    margin: auto !important;
    margin-bottom: 2em !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

h5 {font-size: 1.5em !important;
	text-align: center;
	font-weight: bold;
    color:white;}

#text {color:black !important;}

#plus {font-size: 1em;
	   text-align: center;
	   margin-top: 0.8%;
	   color: grey;
}


h6 {text-align: center;}

h4 {margin-left: 4.6em;
	color: grey;
}